body{

background:#0a0a0a;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:sans-serif;
}

.container{

width:400px;

padding:40px;

background:#141414;

border-radius:20px;

display:flex;

flex-direction:column;

gap:15px;
}

h1{

color:#e50914;

text-align:center;
}

input{

padding:15px;

border:none;

border-radius:10px;

background:#222;

color:white;
}

button{

padding:15px;

border:none;

border-radius:10px;

cursor:pointer;

background:#e50914;

color:white;
}

#status{

color:white;

text-align:center;
}