body{
background:#0a0a0a;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;
}

.container{
width:400px;
background:#141414;
padding:40px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:15px;
}

h1{
color:#e50914;
text-align:center;
}

input,select{
padding:15px;
background:#222;
border:none;
border-radius:10px;
color:white;
}

button{
padding:15px;
background:#e50914;
border:none;
border-radius:10px;
color:white;
cursor:pointer;
}